/* Set responsive for screen 1920px) */

@media (max-width:1920px) {}


/* Set responsive for screen 1440px) */

@media (max-width:1440px) {}


/* Set responsive for screen 1280px) */

@media (max-width:1280px) {
    .menu-item {
        margin-right: 17px;
    }
}


/* Set responsive for screen 1024px and 960px) */

@media (max-width:1024px) {
    /* homepage */
    .section-menu {
        background-color: #fff;
        margin-left: -72px;
        width: 33%;
        padding-left: 0px;
    }
    .option {
        display: grid;
    }
    .option-city,
    .option-dist {
        margin-bottom: 9px;
    }
    .blog-1 {
        padding-left: 14%;
    }
    .blog-description {
        font-size: 14px;
    }
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        left: 0;
        /* color: white; */
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 20px;
        color: #fff;
        font-size: 40px;
    }
    .menu-close {
        display: none;
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        left: 0;
    }
    .menu-close::before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 20px;
        color: #fff;
    }
    .navbar-collapse {
        display: none;
    }
    .navbar-collapse.active {
        display: block;
        background-color: #fff;
        overflow: hidden;
        width: 100%;
    }
    .navbar-collapse.active .menu-item {
        width: 100%;
    }
    .navbar-collapse.active .menu-item a {
        text-align: center;
    }
    .menu-toggle.active {
        display: none;
    }
    .menu-close.active {
        display: block;
    }
    .menu-btn-group {
        position: absolute;
        top: 22px;
        left: 33px;
    }
    .header-left {
        width: 17%;
        float: right;
    }
    .header-logo {
        width: 33%;
        height: 60px;
    }
    .header-right {
        float: left;
        margin-left: 184px;
    }
    .img-logo {
        width: 20%;
        background-color: #fff;
        margin-top: 10px;
    }
    header {
        background-color: rgba(12, 113, 61, 0.9);
    }
    .language {
        color: #fff;
    }
    .fa-user {
        display: block;
        color: #fff;
    }
    .login {
        display: none;
    }
    .cart-toggle {
        background-color: transparent;
        color: #fff;
    }
    .fa-shopping-cart {
        color: #ffffff;
    }
    .menu-item {
        width: 100%;
        border-bottom: 1px solid #666666;
    }
    /* drink section */
    select,
    #search,
    .btn-search {
        margin-top: 12px;
    }
    /* css for big product */
    .image-1 img {
        width: 200px;
        height: 200px;
    }
    /* footer */
    .address,
    .follow,
    .contact {
        padding: 0px 5px;
    }
    .address {
        width: 50% !important;
    }
    .follow {
        width: 30% !important;
    }
    .contact {
        width: 20% !important;
    }
    .image-notification {
        width: 100%;
    }
}


/* Set responsive for screen 960px) */

@media (max-width:960px) {
    .header-logo {
        margin-left: 30%;
    }
    .header-right {
        display: none;
    }
    .header-left {
        width: 22%;
    }
    .img-responsive-mobile {
        display: block;
    }
    .img-responsive-desktop {
        display: none;
    }
}


/* Set responsive for screen 840px) */

@media (max-width:840px) {
    /* header */
    .section-menu {
        width: 50%;
        margin-left: -59px;
    }
    .navbar-collapse.active .menu-item a {
        text-align: left;
        padding: 10px 15px;
    }
    .banner-img {
        width: 320px;
        height: 350px;
    }
    .header-left {
        width: 23%;
    }
    .blog-1 {
        padding-left: 4%;
    }
    .map-infor {
        width: 100%;
    }
    .blog-description {
        padding-top: 3%;
        padding-left: 0;
    }
    .blog-description>.title {
        margin: 0 0 25px;
    }
    .img-td {
        margin-top: 15px;
    }
    .address-detail {
        width: 100%;
    }
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        left: 0;
        /* color: white; */
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 20px;
        color: #fff;
        font-size: 33px;
    }
    .language {
        color: #fff;
    }
    .menu-close {
        display: none;
        width: 40px;
        height: 40px;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        left: 0;
    }
    .menu-close::before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 20px;
    }
    .navbar-collapse {
        display: none;
    }
    .navbar-collapse.active {
        display: block;
        width: 100%;
    }
    .navbar-collapse.active .menu-item {
        width: 100%;
    }
    .menu-toggle.active {
        display: none;
    }
    .menu-close.active {
        display: block;
    }
    .header-logo {
        margin-left: 244px;
    }
    .header-right {
        display: none;
    }
    .img-responsive-mobile {
        display: block;
    }
    .img-responsive-desktop {
        display: none;
    }
    .slideshow {
        margin-top: 90px;
    }
    /* btn-search */
    .search-container {
        width: 100%;
    }
    #search,
    select {
        width: 165px;
    }
    /* set for card- product */
    .new-product-card,
    .card {
        padding: 10px 10px 10px 10px;
    }
    /* footer */
    .address {
        /* width: 100% !important; */
        margin: 3px 0px 0px;
        font-size: 12px;
    }
    .address,
    .follow,
    .contact {
        width: 100% !important;
        margin-top: 10px;
    }
    .image-notification {
        width: 50%;
    }
    .language,
    .image-notification {
        float: left;
    }
}


/* Set responsive for screen 600px) */

@media (max-width:600px) {
    /* header */
    .section-menu {
        margin-left: -42px;
    }
    .blog-description,
    .img-blog {
        width: 100%;
    }
    .quick-alo-big-circle,
    .quick-alo-small-circle {
        display: none;
    }
    .call-text {
        display: none;
    }
    .header-left {
        width: 32%;
    }
    .header-logo {
        margin-left: 169px;
    }
    .img-logo {
        margin-top: 15px;
        width: 27%;
    }
    .banner-img {
        width: 100%;
    }
    .slideshow {
        margin-top: 90px;
    }
    /* option to choose the type of drink */
    ul.child-menu li.special,
    ul.child-menu li.normal-effect {
        padding: 0px 25px;
        line-height: 40px;
        display: block;
        text-decoration: none;
    }
    ul.child-menu li.special {
        border-top: 1px solid #0C713D;
        border-bottom: 1px solid #0C713D;
        color: #0C713D;
    }
    ul.child-menu li:hover {
        padding: 5px;
        border-top: 1px solid #0C713D;
        border-bottom: 1px solid #0C713D;
        color: #0C713D;
        text-decoration: none;
    }
    /* search order by */
    .child-orderBy {
        width: 100%;
        border: 0px solid #DCDCDC;
    }
    #search,
    select {
        width: 100%;
        font-size: 13px;
        padding: 7px 12px;
    }
    #search {
        width: 92%;
    }
    /* product list section */
    .big-product,
    .new-product,
    .product-list {
        width: 100%;
    }
    .new-product-card {
        width: 50%;
    }
    .card {
        width: 50%;
    }
    /* email-form */
    .email-form {
        width: 100%;
    }
    .btn-submit {
        margin-top: 10px;
    }
    /* respon for cart */
    .deliver {
        padding: 10px 0 !important;
        height: 200px;
        box-sizing: border-box;
        background-color: #0C713D !important;
    }
    .bill-detail-active {
        color: white !important;
    }
    .icon-title {
        line-height: 15px !important;
        font-size: 12px !important;
    }
    .icon-image,
    .bill-title,
    .bill-item-container-header {
        display: none;
    }
    .image-info-product {
        width: 100% !important;
    }
    .info-product {
        font-size: 12px !important;
        width: 100% !important;
    }
    .notice,
    .bill-item-container {
        width: 100% !important;
        text-align: left !important;
        font-size: 14px;
        padding: 10px 0px !important;
    }
    .info-quantity {
        margin-top: 20% !important;
        width: 100% !important;
    }
    .bill-item-product,
    .bill-item-detail {
        width: 50% !important;
        float: left;
    }
    .bill-title-image {
        width: 50% !important;
        float: left;
    }
    .minus,
    .plus,
    .number {
        line-height: 20px !important;
        width: 20px !important;
        height: 20px !important;
    }
    .btn-row {
        width: 70% !important;
        margin: 0% 15% !important;
    }
}


/* Set responsive for screen 480px) */

@media (max-width:480px) {
    /* header */
    .header-logo {
        margin-left: 123px;
    }
    .header-left {
        width: 37%;
    }
    .messenger-button {
        right: 27px;
    }
    #search {
        width: 90%;
    }
}


/* Set responsive for screen 360px) */

@media (max-width:360px) {
    /* header */
    .section-menu {
        margin-left: -25px;
        width: 72%;
    }
    .img-responsive-mobile {
        width: 114px;
    }
    .header-logo {
        margin-left: 92px;
    }
    .direct {
        width: 51%;
    }
    .image-1 img {
        width: 180px;
        height: 180px;
    }
    .card img,
    .new-product-card img {
        width: 136px;
        height: 136px;
    }
    .product-eng-name {
        font-size: 12px;
    }
    /* respon for cart */
    .deliver {
        padding: 10px 0 !important;
        height: 200px;
        box-sizing: border-box;
        background-color: #0C713D !important;
    }
    .bill-detail-active {
        color: white !important;
    }
    .icon-title {
        line-height: 15px !important;
        font-size: 12px !important;
    }
    .icon-image,
    .bill-title,
    .bill-item-container-header {
        display: none;
    }
    .image-info-product {
        width: 30% !important;
    }
    .info-product {
        font-size: 12px !important
    }
    .notice,
    .bill-item-container {
        width: 100% !important;
        text-align: left !important;
        font-size: 14px;
        padding: 10px 0px !important;
    }
    .info-quantity {
        margin-top: 10% !important;
        width: 100% !important;
    }
    .bill-item-product {
        width: 100% !important;
    }
    .minus,
    .plus,
    .number {
        line-height: 20px !important;
        width: 20px !important;
        height: 20px !important;
    }
    .btn-row {
        width: 70% !important;
        margin: 0% 15% !important;
    }
}