* {
    box-sizing: border-box
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    width: 100%;
}


/* -------------------trang chu------------------ */

header {
    background-color: white;
    box-shadow: 0px 2px 3px #b2b6b9;
    position: fixed;
    top: 0;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    /* overflow: hidden; */
    height: auto;
}

.border-header {
    width: 100%;
    background-color: #F5F5F5;
    height: 4px;
}


/* CSS for menu-top */

.container-content {
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /* overflow: hidden; */
}

.header-left,
.header-logo,
.header-right {
    display: inline-block;
    overflow: hidden;
    height: auto;
}


/* =============CSS for header left ===============*/

.header-left {
    width: 20%;
    /* float: left; */
    padding-top: 14px;
}

.img-responsive-desktop {
    display: block;
}

.img-responsive-mobile {
    display: none;
}


/* ===============CSS for header logo============== */

.header-logo {
    width: 50%;
    /* float: left; */
    text-align: center;
}

.img-logo {
    width: 10%;
}


/* ================CSS for header right=============== */

.header-right {
    width: 29%;
    /* float: left; */
    margin-top: 2%;
}

.fa-user {
    display: none;
}

.right-content {
    float: right;
    margin-right: 10px;
}


/* CSS for button cart */

.cart-toggle {
    position: relative;
    padding: 7px 35px 5px 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid #0C713D;
    color: #0C713D;
    background: #fff;
}

.cart-text {
    font-size: 12px;
}

.cart-img {
    position: absolute;
    display: block;
    right: 10px;
    top: 7px;
}

.fa-shopping-cart {
    font-size: 20px;
    color: #0C713D;
}

.cart-number {
    padding-top: 3px;
    position: absolute;
    right: -5px;
    top: -5px;
    background: #0C713D;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    font-size: 8px;
}


/* CSS for button login */

.login-button {
    padding-top: 7px;
}

.login {
    font-size: 14px;
    color: #171717;
    font-weight: 700;
    font-family: sans-serif;
}


/* CSS for language option */

.lang-header {
    margin-top: 7px;
}

.language-item {
    font-size: 12px;
    color: #171717;
}

.active-item {
    color: #0C713D !important;
}


/*====================== CSS for navigation============== */

.nav-content {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.section-menu {
    padding-left: 7%;
}

.section-menu,
.navigation,
.nav-content {
    height: auto;
}

.menu-item {
    color: #666666;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    margin-right: 20px;
}

.item-submenu {
    box-shadow: 1px 2px 3px #ccc;
    background-color: white;
    width: 250px;
    padding: 10px 30px;
}

.item-submenu>li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.item-submenu>li:hover {
    background-color: #0C713D;
    color: #fff;
}

.menu-item a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
}

.dropdown {
    display: none;
}

.menu-item:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 80px;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.img-search {
    width: 40%;
    width: 20px;
    margin-top: 3px;
}

.link-search {
    display: block;
    padding: 4px;
}

ul li ul li {
    clear: both;
    width: 100%;
}


/*=============== CSS for slider =================*/

.mySlides {
    display: none
}

.mySlides img {
    vertical-align: baseline;
    width: 100%;
}


/* Slideshow */

.slideshow {
    width: 100%;
    position: relative;
    margin: auto;
    z-index: -1;
    margin-top: 126px;
}

.dot-container {
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: #0C713D;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #0C713D;
}


/* CSS for blog */

.blog {
    padding-bottom: 66px;
}

.blog-content {
    overflow: hidden;
    height: auto;
    padding-top: 9%;
}

.blog-description {
    padding-top: 6%;
}

.blog-description,
.img-blog {
    width: 50%;
    float: left;
}

.blog-1 {
    padding-left: 7%;
}

.blog-2 {
    padding-right: 6%;
}

.blog-description>.title {
    line-height: normal;
    margin: 0 0 50px;
    color: #0C713D;
    font-weight: 500;
    font-size: 24px;
}

.banner-img {
    width: 530px;
    height: 530px;
}

.btn-primary {
    color: #0C713D;
    border: 1px solid #0C713D;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0C713D;
}

#addtocart {
    margin-top: 30px;
}

.img-td {
    width: 320px;
    height: 475px;
}

.blog {
    background-image: url("image/coffeebg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}


/* ================CSS for list map store================= */

.list-store {
    padding-left: 5%;
    background-color: #0C713D;
    height: auto;
    overflow: hidden;
    padding-bottom: 2%;
}

.map-infor {
    width: 50%;
    padding-top: 5%;
}

.heading {
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 28px;
}

.option-city,
.option-dist {
    width: 34%;
    color: #fff;
    font-size: 12px;
    background: none !important;
    border: 1px solid #fff !important;
    padding: 7px 25px 7px 12px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

select option:hover {
    border-color: red;
}

.choose {
    color: black;
    text-transform: capitalize;
}

.option {
    padding-top: 3%;
    padding-bottom: 3%;
}

.address-store {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-map-store {
    overflow: auto;
    width: 100%;
    padding-top: 20px;
    height: 300px;
}

.list-address {
    height: auto;
    overflow: hidden;
    width: 100%;
}

.address-detail {
    background: url(image/icon_store.svg) no-repeat 0 20px;
    width: 60%;
    padding: 10px 10px 10px 35px;
    float: left;
    color: #fff;
    font-size: 16px;
}

.phone-number {
    color: #fff;
}

.direct {
    width: 40%;
    float: left;
    font-size: 16px;
}

.btn-direct {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
    background: #0c713d00;
    height: 40px;
    width: 65%;
}

.btn-direct:hover {
    border-color: red;
}

.call-now-button .call-text {
    color: #fff;
}

.call-now-button {
    background: #1a1919;
    margin: 0 auto;
    border-radius: 50px;
    left: 5%;
    position: fixed;
    bottom: 52px;
}

.call-text {
    display: table;
    padding: 10px;
    border-radius: 21px;
    height: 34px;
    line-height: 14px;
    font-size: 14px;
    margin: 8px 5px 8px 50px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.quick-alo-big-circle.active {
    width: 130px;
    height: 130px;
    top: -40px;
    left: -40px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, .4);
    transition: all .5s;
}

.quick-alo-small-circle.active {
    width: 80px;
    height: 80px;
    top: -15px;
    left: -15px;
    position: absolute;
    background-color: #000;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    transition: all .5s;
}

.call-now-button div a .quick-alo-ph-img-circle,
.call-now-button div a .quick-alo-phone-img-circle {
    background-color: #0c3;
}

.quick-alo-img-circle.shake {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 1;
    background: url(image/quick-call-button.png) no-repeat center center;
    background-color: #0c3;
}

.messenger-button {
    position: fixed;
    right: 73px;
    bottom: 21px;
}

.quick-messenger {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: url(image/messenger.PNG) no-repeat center center;
    background-color: #0c3;
}


/* -----------------footer---------------- */

footer {
    width: 100%;
}

.child-footer {
    padding: 20px 0;
    overflow: hidden;
    padding-left: 7%;
    padding-right: 7%;
}

.address {
    width: 45%;
    font-size: 14px;
}

.follow {
    width: 26%;
}

.form {
    margin-top: 10px;
}

.address,
.follow,
.contact {
    padding: 0px 15px;
    float: left;
}

.follow,
.contact {
    width: 26%;
}


/* css for social icon */

.f-social {
    margin-top: 17%;
}

ul.social {
    overflow: hidden;
    list-style-type: none;
}

ul.social li {
    float: right;
}

ul.social li a {
    text-align: center;
    color: #6C6C6C;
    padding: 0px 0 0 10px;
}

.language {
    float: right;
}

.lang-active {
    text-decoration: none;
    font-size: 14px;
    color: #0C713D;
    font-weight: 600;
}

.lang-normal {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.email-form {
    padding: 6px 12px;
    border: 1px solid #0C713D;
    border-radius: 4px;
}

.btn-submit {
    border-radius: 5px;
    color: #fff;
    color: #0C713D;
    background-color: #fff;
    padding: 7px 12px;
    font-size: 13px;
    border: 1px solid #0C713D;
}

.image-notification {
    width: 60%;
    float: right;
}

.image-notification a img {
    width: 100%;
}

.copy-right {
    background-color: #000000;
    padding: 2px 15px 3px;
    height: 15px;
    text-align: center;
    font-size: 0.7em;
    line-height: 0.9;
    padding: 2px 15px 3px;
    color: #8d8d8d;
}


/* ---------------end trang chu --------------------*/


/* ---------------thức uống page ----------------*/


/* The container contains the list of drinks */

main {
    overflow: hidden;
}


/* hero section - background */

.bg-section {
    overflow: hidden;
    width: 100%;
    /* position: relative; */
    /* margin: auto; */
    margin-top: 90px;
}

.bg-section img {
    width: 100%;
}


/* It contains options for menus, drinks and searches order by */

.content-section {
    overflow: hidden;
    padding-left: 7%;
    padding-right: 7%;
}


/* It contains options for menus */

.childMenu-option {
    text-align: center;
}

.page-title {
    font-weight: normal;
    font-size: 20px;
    color: #0C713D;
    font-family: 'Lora';
}

.separator-icon img {
    width: 300px;
}

.page-title,
.bread-crumb,
.menu-line,
.order-by {
    margin-top: 4%;
}


/* bread crumb */

ul.breadcrumb {
    text-align: center;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li.homepage-link a {
    color: #b2b2b2;
    text-decoration: none;
}

ul.breadcrumb li.drink-page a {
    color: #777;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: red;
    text-decoration: none;
}


/* menus option*/

.menu-line {
    text-align: center;
    list-style: none;
}

ul.child-menu li {
    padding: 5px;
    display: inline;
    font-size: 22px;
}

ul.child-menu li a {
    text-decoration: none;
    color: #797979;
}

ul.child-menu li.special a {
    padding: 5px;
    /* border-top: 1px solid #0C713D;
    border-bottom:  1px solid #0C713D; */
    color: #0C713D;
    text-decoration: none;
}

ul.child-menu li:hover {
    padding: 5px;
    border-top: 1px solid #0C713D;
    border-bottom: 1px solid #0C713D;
    color: #0C713D;
    text-decoration: none;
}

ul.child-menu li.normal-effect a:hover {
    color: #0C713D;
}


/* search order by */

.order-by {
    overflow: hidden;
    font-size: 14px;
    width: auto;
}

.child-orderBy {
    padding: 16px;
    float: left;
    color: #171717;
    margin-left: 0px;
    width: 33.33%;
    height: auto;
    border: 1px solid #DCDCDC;
}

select {
    padding: 5px;
    width: 205px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select option {
    color: #999999;
}

#search {
    width: 205px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.child-orderBy button {
    height: 29px;
    margin-left: -6px;
}

.btn-search:hover {
    color: #ffffff;
    background-color: #0C713D;
    border: 1px solid #cccccc;
}

.btn-search {
    color: inherit;
    background-color: #fff;
    padding: 7px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.text-search {
    float: left;
}


/* product section */

.product-section {
    margin-top: 4%;
}

.img-team {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0%;
    z-index: -1;
    width: 86%;
    height: 380px;
}


/* lasted product */

.hot-product {
    width: 100%;
    float: left;
    text-align: center;
}

.big-product {
    float: left;
    background-image: url("image/hotproduct.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 380px;
}

.big-product-name,
.big-product-price {
    font-size: 20px;
    color: #0C713D;
    font-weight: bold;
}

.new-product {
    float: left;
    width: 50%;
}

.new-product-card {
    padding: 20px;
    width: 50%;
    float: left;
}

.new-product-card img {
    width: 180px;
    height: 180px;
}

.image-title {
    margin-top: 30px;
    width: 50%;
    height: auto;
    float: left;
    text-align: left;
    padding-left: 5%;
}

.image-1 {
    margin-top: 30px;
    width: 50%;
    height: auto;
    float: left;
}

.image-1 img {
    width: 300px;
    height: 300px;
}


/* line for the list of product */

.card {
    padding: 27px;
    width: 25%;
    height: auto;
    float: left;
}

.card img {
    width: 180px;
    height: 180px;
}

.product:hover,
.new-product-card:hover,
.card:hover {
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    min-height: 20px;
    text-transform: capitalize;
}

.product-eng-name {
    font-size: 14px;
    font-style: italic;
}

.price {
    font-weight: bold;
    color: #0C713D !important;
    font-size: 18px;
    font-family: Tahoma;
}

.product-list {
    text-align: center;
    background-image: url(image/bg_tealeaf.svg), url(image/bg_team.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, center bottom;
    background-size: 20% auto, 75% auto;
}


/* button add to card */

.btn-add {
    background-color: transparent;
    color: #0C713D;
    border: 1px solid #0C713D;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.big-product-btn-add {
    background-color: #ffff;
    color: #0C713D;
    border: 1px solid #0C713D;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-add:hover,
.btn-submit:hover,
.big-product-btn-add:hover {
    color: #ffffff;
    background-color: #0C713D;
}


/* -----------------footer---------------- */

footer {
    width: 100%;
    margin-top: 4%;
}

.child-footer {
    padding: 20px 0;
    overflow: hidden;
    padding-left: 7%;
    padding-right: 7%;
}

.address {
    width: 45%;
    font-size: 14px;
}


/* sign up to receive the message via email form*/

.follow {
    width: 26%;
    color: #3A3A3A;
    font-size: 14px;
}


/* container contain email form */

.form {
    margin-top: 10px;
}

.email-infor {
    text-indent: 3em;
}

.email-form {
    padding: 6px 12px;
    border: 1px solid #0C713D;
    border-radius: 4px;
}

.btn-submit {
    border-radius: 5px;
    color: #fff;
    color: #0C713D;
    background-color: #fff;
    padding: 7px 12px;
    font-size: 13px;
    border: 1px solid #0C713D;
}

.address,
.follow,
.contact {
    padding: 0px 15px;
    float: left;
}

.follow,
.contact {
    width: 26%;
}

.contact {
    padding-right: 0%;
}


/* css for social icon */

.f-social {
    margin-top: 20%;
}

ul.social {
    overflow: hidden;
    list-style-type: none;
}

ul.social li {
    float: right;
}

ul.social li a {
    text-align: center;
    color: #6C6C6C;
    padding: 0px 0 0 10px;
}

.language {
    float: right;
}

.lang-active {
    text-decoration: none;
    font-size: 14px;
    color: #0C713D;
    font-weight: 600;
}

.lang-normal {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.image-notification {
    width: 60%;
    float: right;
}

.image-notification a img {
    width: 100%;
}

.copy-right {
    background-color: #000000;
    padding: 2px 15px 3px;
    height: 15px;
    text-align: center;
    font-size: 0.7em;
    line-height: 0.9;
    padding: 2px 15px 3px;
    color: #8d8d8d;
}


/* ---------------end thức uống page ----------------*/


/* ----------------model section -------------------*/


/* The Modal */

.modal {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
    text-align: center;
    position: fixed;
    /* overflow: scroll; */
    /* background-color: blue; */
}


/* Modal Content */

.modal-content {
    width: 100%;
    padding: 40px;
    height: auto;
    background-image: url(image/bg_modal.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    float: left;
}


/* Button Close */

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 2em;
    font-weight: bold;
    width: 50px;
    padding: 1px 0 3px;
    box-sizing: border-box;
}


/* Content Modal - Left and Right Content */


/* Left Content */

.left-content {
    width: 35%;
    height: auto;
    text-align: center;
    float: left;
}

.image-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.item-price {
    text-align: center;
    color: #0C713D;
    font-size: 30px;
    font-weight: 900;
}


/* Right Content */

.right-content-modal {
    width: 65%;
    height: auto;
    float: left;
    text-align: left;
}

.item-infor-name {
    font-family: 'Muli', sans-serif;
    color: #0C713D;
    font-size: 25px;
    line-height: 31px;
    font-weight: bold;
}

.item-infor {
    margin-bottom: 20px;
    clear: both;
}

label {
    width: 17%;
    height: auto;
    margin-right: 30px;
    min-width: 70px;
    line-height: 37px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 100%;
    vertical-align: baseline;
    float: left;
}

.item-list-active {
    color: #fff;
    background-color: #0C713D;
    display: inline-block;
    text-transform: none;
    border: 1px solid #B3B3B3;
    border-radius: 2px;
    margin-left: 2px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 13px;
}

.item-list-none-active {
    color: black;
    background: transparent;
}

.select-item {
    width: 82%;
    height: auto;
    float: left;
    padding: 0;
    box-sizing: border-box;
}

.select-item li,
.choose-size li {
    display: inline-block;
    margin: 3px;
    float: left;
}


/* Quantity */

.add-item span.quantity {
    border-left: none;
    border-right: none;
}

.change-qty1 {
    margin-left: -6px;
}

.add-item span.change-qty.decrease {
    border-radius: 4px 0 0 4px;
}

.add-item span {
    border: 1px solid #B3B3B3;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}


/* Notes */

textarea[name="notes"] {
    max-width: 220px;
    height: 60px;
    resize: none;
    overflow: auto;
}


/* Price */

.item-info__price {
    color: #0C713D;
    font-weight: 700;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}


/* Button Primary */

.btn-primary {
    color: #0C713D;
    border: 1px solid #0C713D;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #0C713D;
}


/* ----------------end model section --------------*/


/* cart section */

.card-section {
    margin-top: 125px;
    padding-left: 7%;
    padding-right: 7%;
}

.deliver {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    border: 1px;
    padding: 45px 0;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.bill-detail-active {
    color: #0C713D;
}

.icon-deliver {
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    padding: 0px 15px;
}

.icon-header {
    width: 30%;
    height: auto;
    float: left;
}

.icon-title {
    width: 70%;
    height: auto;
    /* padding-left: 10%; */
    color: #C0C0C0;
    float: left;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}

.icon-image {
    width: 60%;
    height: auto;
    margin-top: 10%;
}

.row-total {
    border-top: 2px solid #eee;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    padding: 20px 40px;
}

.btn-row {
    width: 26%;
    height: auto;
    padding-top: 50%;
    box-sizing: border-box;
    align-items: center;
    margin: 0% 37%;
}

.total {
    color: #0C713D;
}

.notice {
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.btn-row {
    text-align: center;
}

.btn-back,
.btn-next {
    margin-top: 3%;
    padding: 7px 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #0C713D;
    color: #0C713D;
}

.btn-back:hover,
.btn-next:hover {
    background-color: #0C713D;
    color: white;
}

button {
    background: transparent;
    border: none;
}


/* Thử mới Show Card Content */

.bill-section,
.deliver-section {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 45px;
    margin-bottom: 100px;
    overflow: hidden;
    box-sizing: border-box;
}

.bill-item-container-header {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    box-sizing: border-box;
    float: left;
    box-shadow: 0 4px 2px -2px #C0C0C0;
}

.bill-item-container {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    box-sizing: border-box;
    float: left;
    box-shadow: 0 4px 2px -2px #C0C0C0;
    /* -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); */
}

.bill-item-product {
    width: 20%;
    height: auto;
    float: left;
    text-align: center;
    /* background-color: turquoise; */
}

.bill-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: gray;
    cursor: pointer;
}

.bill-title-image {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: gray;
    cursor: pointer;
}


/*  */

.bill-item-detail {
    width: 80%;
    height: auto;
    float: left;
    /* background-color: yellow; */
}


/*  */

.info-product {
    width: 40%;
    height: 40px;
    text-align: left;
    float: left;
}

.image-info-product {
    width: 40%;
    align-items: center;
}

.info-price,
.info-quantity,
.info-total {
    width: 20%;
    height: auto;
    text-align: center;
    float: left;
}

.price-text {
    color: black;
    line-height: 80px;
}

.total-text {
    color: #0C713D;
    line-height: 80px;
}


/*  */

.minus,
.plus {
    text-align: center;
    margin-left: -1px;
    line-height: 40px;
    float: left;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.number {
    text-align: center;
    margin-left: -1px;
    float: left;
    line-height: 40px;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
}


/* end card section */